header {
    height: 200px;
  }
  

  
.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search {
    height: 100px;
  }
  
input[type='text'] {
    display: block;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-color: black;
    border-radius: 5px;
    width: 60%;
    margin: auto;
  }
  
button {
    display: block;
    color: #fff;
    background-color: #D4AF37;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 0;
    margin: auto;
  }